{
  "scope": "https://api.pinboard.in:443",
  "method": "GET",
  "path": "/v1/posts/add?auth_token=REDACTED&format=json&url=https%3A%2F%2Fgithub.com%2Fzeit%2Fasync-sema&description=async-sema&extended=Semaphore%20using%20%60async%60%20and%20%60await%60&dt=2019-09-21T16%3A47%3A07Z&tags=github-starred%2Casync%2Casynchronous%2Cawait%2Cpackage%2Csemaphore",
  "body": "",
  "status": 200,
  "response": {
    "result_code": "done"
  },
  "rawHeaders": [
    "Content-Type",
    "text/plain; charset=utf-8"
  ]
}